*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html{
  font-family: "montserrat";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #121215;
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #17171a;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1f00f1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #2503ff;
}